In [1]:
import pandas as pd
import os

In [2]:
foler_path = "data"
os.listdir(foler_path)

['sales_2012-11.xlsx', 'sales_2013-06.xlsx', 'sales_2013-09.xlsx']

In [4]:
all_files = [f for f in os.listdir(foler_path) if f.endswith('.xlsx')]

df_list = []
for file in all_files:
    file_path = os.path.join(foler_path,file)
    df = pd.read_excel(file_path)
    df_list.append(df)

merged_df = pd.concat(df_list,ignore_index=True)

merged_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Month
0,4,US-2012-108966,2012-11-10,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2012-11
1,5,US-2012-108966,2012-11-10,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2012-11
2,15,US-2012-118983,2012-11-22,26-11-2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580,2012-11
3,16,US-2012-118983,2012-11-22,26-11-2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160,2012-11
4,63,CA-2012-135545,2012-11-24,30-11-2012,Standard Class,KM-16720,Kunst Miller,Consumer,United States,Los Angeles,...,West,TEC-AC-10004633,Technology,Accessories,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,13.9800,2,0.00,6.1512,2012-11

In [5]:
merged_df.drop_duplicates(inplace=True)

if 'Order Date' in merged_df.columns:
    merged_df['Order Date'] = pd.to_datetime(merged_df['Order Date'],errors='coerce')
    merged_df.dropna(subset=['Order Date'],inplace=True)

In [6]:
# Product-wise Sales
product_sales = merged_df.groupby('Product Name')['Sales'].sum().reset_index()
product_sales.head()

                                        Product Name    Sales
0           #10 Gummed Flap White Envelopes, 100/Box    8.260
1                      #10 Self-Seal White Envelopes    8.872
2         #10 White Business Envelopes,4 1/8 x 9 1/2  109.690
3            #10- 4 1/8" x 9 1/2" Recycled Envelopes   17.480
4  1.7 Cubic Foot Compact "Cube" Office Refrigera...  208.160

In [7]:
# Catergory_Salles
category_sales = merged_df.groupby('Category')['Sales'].sum().reset_index()
category_sales

          Category       Sales
0        Furniture  64285.3657
1  Office Supplies  50099.3070
2       Technology  36497.0430

In [9]:
# Region-wise Sales
if 'Region' in merged_df.columns:
    region_sales = merged_df.groupby('Region')['Sales'].sum().reset_index()
region_sales

    Region       Sales
0  Central  41593.7552
1     East  39441.3640
2    South  24213.2870
3     West  45633.3095

In [10]:
# Final
output_path = "Final_Sales_Report.xlsx"

with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
    merged_df.to_excel(writer, sheet_name='Merged Data', index=False)
    product_sales.to_excel(writer, sheet_name='Product Sales', index=False)
    category_sales.to_excel(writer, sheet_name='Category Sales', index=False)
    if 'Region' in merged_df.columns:
        region_sales.to_excel(writer, sheet_name='Region Sales', index=False)

output_path

'Final_Sales_Report.xlsx'